.navbar {
    height: 100px;

    .logo-box {
        width: 200px;
        height: 100px;
        overflow: hidden;
        img {
            width: 100px;
            height: 100px;
        }
    }
}